#header {
	height: 80px;
	border-bottom: 2px solid #eeeeee;
	display: flex;
	line-height: 75px;
}

#header .icon-left {
	flex: 1;
	float: left !important;
	margin-left: 30px;
}

#header .icon-left a{
	color: #333333;
}

#header .logo-center{
	flex: 1;
}

#header .logo-center .logo-top{
	width: 222px;
	margin: auto;
}

#header .search-right {
	flex: 1;
	float: right !important;
	margin-right: 30px;
}

#header .search-right .search-top{
	margin-top: 20px;
}

#header .search-right .search-top a{
	position: absolute;
	top:-19px;
	right: 30px;
}


#mySidebar ul li{
	list-style-type: none;
}

.magnifying-glass{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

#footer {
	margin-top: 30px;
	/*	height: 235px;
    */	background-color: #ffffff;
	/*	border-top: 3px solid #000000;*/
}
.menu_footer{
	background: #211c6e;
}
.menu_footer .row{
	display: block;
	overflow: hidden;
}
.menu_footer_left{
	float: left;
}
.menu_footer_left ul{
	margin: 0;
	padding: 0;
}
.menu_footer_left ul li{
	display: inline-block;
}
.menu_footer_left ul li a{
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 10px 20px;
	font-size: 13px;
	font-weight: 600;
	border-right: 1px solid #4d498b;
}
.menu_footer_left ul li:first-child a{
	border-left: 1px solid #4d498b;
}



.menu_footer_right{
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	float: right;
	padding: 10px;
	cursor: pointer;
}
.menu-footer {
	height: 45px;
	background-color: #d71a21;
	margin: -3px 90px;
}

.menu-footer-top .lang {
	/*border-left: 1px solid #ffffff;
	padding: 0 20px;
	font-size: 14px;*/
}

.menu-footer-top >li .lang {
	border-left: 0px solid #ffffff;
}
.menu-footer-top{
	margin:auto;
	text-align: center;
	width: 100%;
	display: flex;
}
.menu-footer-top>li{
	display: inline-block;
	font-weight: 600;
	font-size: 12px;
	flex: auto;
	border-left: 1px solid #ffffff;
}
.menu-footer-top>li:first-child{
	border-left: 0;
}
.menu-footer-top>li>a{
	color: #ffffff;
	text-decoration: none;
}

#footer-bottom span{
	font-weight: Bold;
}

#footer .footer-bottom{
	display: flex;
	padding-top: 30px;
	padding-bottom: 55px;
	font-family: 'Roboto', sans-serif;

}

#footer .footer-bottom .log-vnhn{
	width: 250px;
	height: 100px;
	overflow: hidden;
}

#footer .footer-left{
	width: 250px;
	height: 142px;
	margin-right: 36px;
	font-size: 13px;
}

#footer .footer-left p {
	font-size: 14px;
	font-family: Muli;
}

#footer .footer-left .title{
	margin-top: 12px;
}

#footer .footer-right{
	width: 200px;
	height: 142px;
	margin-left: 50px;
}

#footer .footer-right .logo-social {
	display: flex;
}

#footer .footer-right .logo-social .google-play{
	width: 93px;
	margin-right: 5px;
}

#footer .footer-right .logo-social .appstrore{
	width: 93px;
}

#footer .footer-mid .title{
	font-size: 16px;
	font-weight: Bold;
	color: #d71a21;
	text-transform: uppercase;
}

#footer .footer-right .title{
	font-size: 14px;
	font-weight: Bold;
	color: #d71a21;
}

#footer .footer-right .version-mobi{
	padding-top: 10px;
	font-size: 12px;
	font-weight: Regular;
	color: #999999;
}



#footer .footer-mid{
	flex: 1;
}

#footer .footer-mid p{
	font-size: 13px;
	line-height: 11px;
	margin-bottom: 10px;
}

#footer .footer-mid span{
	font-weight: Bold;
}

#footer .footer-mid .info-footer{
	line-height: 15px;
}

#footer .footer-mid .license{
	font-family: Arial;
}

#back-to-top {
	position: fixed;
	bottom: 50px;
	right: 20px;
	z-index: 9999;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 30px;
	background: red;
	color: #fff;
	cursor: pointer;
	border: 0;
	border-radius: 2px;
	text-decoration: none;
	transition: opacity 0.2s ease-out;
	opacity: 0;
}
#back-to-top:hover {
}
#back-to-top.show {
	opacity: 1;
}
.scrollable-menu {
	height: auto;
	max-height: 200px;
	width: 250px;
	overflow: auto;
}

.slimScrollBar {
	border-radius: 0 !important;
}

.scrollable-menu >li{
	padding: 0 10px;
}