body {
    font: normal 14px/20px 'Open sans', sans-serif;
    color: #000;
}
a {
    text-decoration: none;
    outline: none;
    color: #000;
}
a:hover {
    text-decoration: none;
    color: #d71a21;
}

#main {
    display: flex;
}

#mySidebar {
    width: 250px;
    background-color: #f6f6f6;
    flex-shrink: 0;
}

#mySidebar i {
    margin-right: 10px;
}

#mySidebar ul{
    padding: 0;
}

#mySidebar ul li{
    margin-top: 25px;
    font-weight: bold;
    font-size: 12px;
    padding-left: 30px;
}

#mySidebar .active {
    border-left: 2px solid #d7191f;
    color: #d7191f;
}

#content {
    flex: 1;
    padding: 30px;
}

.top-video {
    background-color: #fafafa;
}
.top-video-player iframe {
    display: block;
    border: 0;
}

.top-video-player {
    width: 715px;
    flex-shrink: 0;
}
.top-video-content {
    padding:0 30px;
    flex: 1;
}

.top-video .title-cate {
}

.top-video h3{
    display: inline-block;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Merriweather";
    border-bottom: 2px solid #000000;
    color: #d7191f;
}

.top-video .title-video {
    margin-top: 20px;
}

.top-video h2{
    font-family: "Merriweather";
    font-size: 20px;
    font-weight: bold;
}

.top-video .list-icon ul{
    padding: 0;
}

.top-video .list-icon ul li{
    display: inline-block;
    font-size: 14px;
}

.top-video ul .facebook{
    background-color: #4063ac;
    color: #ffffff;
}

.top-video ul .facebook i{
    margin-right: 10px;
}

.top-video ul li span{
    color: #ffffff;
}

.top-video ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
}



.top-video .google{

}


.top-video .caption{
    font-size: 14px;
}

.group-top {
    margin: 20px 0;
    line-height: 35px;
    border-bottom: 2px solid #000000;
}

.group-top h3{
    font-size: 16px;
    color: #d7191f;
    font-weight: bold;
    text-transform: uppercase;
}

.group-top p{
    font-size: 13px;
    color: #999;
    text-transform: uppercase;
    line-height: 35px;
}

.video-group .item h3{
    font-size: 16px;
    line-height: 1.4;
    font-weight: bold;
    font-family: "Merriweather";
}
.video-group .item a {
    display: block;
}
.video-group .item a:hover {
    cursor: pointer;
}
.video-group .item:hover h3{
    color: #d71a21;
}

.time-video {
    font-size: 12px;
    color: #999999;
}

