body {
    font: normal 14px/20px 'Open sans', sans-serif;
    color: #000;
}
a {
    text-decoration: none;
    outline: none;
    color: #000;
}
a:hover {
    text-decoration: none;
    color: #d71a21;
}

#main {
    display: flex;
}

#mySidebar {
    width: 250px;
    background-color: #f6f6f6;
    flex-shrink: 0;
}

#mySidebar i {
    margin-right: 10px;
}

#mySidebar ul{
    padding: 0;
}

#mySidebar ul li{
    margin-top: 25px;
    font-weight: bold;
    font-size: 12px;
    padding-left: 30px;
}

#mySidebar .active {
    border-left: 2px solid #d7191f;
    color: #d7191f;
}

#content {
    flex: 1;
    padding: 30px;
}

.top-video {
    background-color: #fafafa;
}
.top-video-player iframe {
    border: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.top-video-player {
    width: 70%;
    position: relative;
    flex-shrink: 0;
}
.top-video-player:before {
    padding-top: 56.2%;
    content: "";
    display: block;
}
.top-video-content {
    padding:0 30px;
    flex: 1;
}

.top-video .title-cate {
}

.top-video .title-cate h3{
    display: inline-block;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Merriweather";
    border-bottom: 2px solid #000000;
    color: #d7191f;
}

.top-video .title-video {
    margin-top: 10px;
}
.top-video-content .title-video  h3{
    font-family: "Merriweather";
    font-size: 20px;
    line-height: 1.4;
    font-weight: bold;
}

.top-video .list-icon ul{
    padding: 0;
}

.top-video .list-icon ul li{
    display: inline-block;
    font-size: 14px;
}

.top-video ul .facebook{
    background-color: #4063ac;
    color: #ffffff;
}

.top-video ul .facebook i{
    margin-right: 10px;
}

.top-video ul li span{
    color: #ffffff;
}

.top-video ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
}



.top-video .google{

}


.top-video .caption{
    font-size: 14px;
    margin: 20px 0;
}

.group-top {
    margin: 20px 0;
    line-height: 35px;
    border-bottom: 2px solid #000000;
}
.group-top a {
    text-transform: uppercase;
    font-size: 12px;
    color: #999;
}
.group-top a:hover {
    color: #d7191f;
}
.group-top h3{
    font-size: 18px;
    color: #d7191f;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Merriweather;
    margin-bottom: 0;
}

.group-top p{
    font-size: 13px;
    color: #999;
    text-transform: uppercase;
    line-height: 35px;
}

.video-group .item h3{
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
    font-family: "Merriweather";
    text-transform: uppercase;
}
.video-group .item a {
    display: block;
}
.video-group .item a:hover {
    cursor: pointer;
}
.video-group .item:hover h3{
    color: #d71a21;
}

.time-video {
    font-size: 11px;
    color: #999999;
}

@media (max-width: 1200px) {
    #mySidebar {
        display: none;
    }
    .top-video-player {
        width: 65%;
    }
}

@media (max-width: 768px) {
    #header .icon-left {
        flex: 0;
    }
    #header .search-right {
        display: none;
    }
    #content {
        padding: 0 15px 30px;
    }
    .top-video {
        margin: 0 -15px;
    }

    .top-video > .d-flex {
        flex-direction: column;
    }
    .top-video-player {
        width: 100%;
    }
    .top-video-content {
        padding: 0 15px;
    }
    .video-group .form-group {
        width: auto !important;
    }
}